<% if (locals.user) { %>
<h1>Bem-vindo, <%= locals.user.full_name || locals.user.username %>!</h1>

<% if (!locals.user.is_member) { %>
<p>
  Você precisa ser um membro para ver por quem e quando as mensagens foram
  postadas!
</p>
<a href="/seja-membro">Torne-se um membro</a>
<% } %>

<a href="/criar-mensagem">Criar uma mensagem</a>
<% } %>

<h2>Mensagens</h2>

<% if (locals.messages.length > 0) { %>
<ul>
  <% locals.messages.forEach(msg => { %>
  <li>
    <% if (locals.user?.is_member) { %>
    <p>
      <%= msg.full_name || msg.username %>
       em 
      <span class="msgDate"><%= msg.created_at %></span>
    </p>
    <% } %>
    
    <% if (msg.title) { %>
    <p><b><%= msg.title %></b></p>
    <% } %>

    <p><%= msg.content %></p>

    <% if (locals.user) { %>
      <% if (locals.user?.is_admin || msg.user_id === locals.user.id) { %>
        <form action="<%= `/delete-message/${msg.id}` %>" method="post">
          <button type="submit">Apagar</button>
        </form>
      <% } else { %>
        <button
          disabled="disabled"
          title="Apenas administradores e autores podem apagar mensagens"
        >Apagar</button>
      <% } %>
    <% } %>
  </li>
  <% }) %>
</ul>
<% } else { %>
<p><i>Ninguém postou uma mensagem ainda!</i></p>
<% } %>

<%- include("formatClientDates") %>